@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resources> Localizer
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <span class="mx-2">
            @string.Format(Localizer["AppHello"], context.User.Identity?.Name ?? Localizer["UnknownUser"])
        </span>
        <Button Color="ButtonColor.Primary" @onclick="BeginLogout">@Localizer["ActionLogout"]</Button>
    </Authorized>
    <NotAuthorized>
        <Button Color="ButtonColor.Primary" @onclick="BeginLogin">@Localizer["ActionLogin"]</Button>
    </NotAuthorized>
</AuthorizeView>

@code{

    private void BeginLogout()
    {
        NavigationManager.NavigateToLogout("authentication/logout");
    }

    private void BeginLogin()
    {
        NavigationManager.NavigateToLogin("authentication/login");
    }

}
