@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <span class="mx-2">Hello, @context.User.Identity?.Name!</span>
        <Button Color="ButtonColor.Primary" @onclick="BeginLogout">Logout</Button>
    </Authorized>
    <NotAuthorized>
        <Button Color="ButtonColor.Primary" @onclick="BeginLogin">Login</Button>
    </NotAuthorized>
</AuthorizeView>

@code{

    private void BeginLogout()
    {
        NavigationManager.NavigateToLogout("authentication/logout");
    }

    private void BeginLogin()
    {
        NavigationManager.NavigateToLogin("authentication/login");
    }

}
